body{background:#121212;color:#fff}
.logo{color:#fff;letter-spacing:2px}
::selection{color:#000;background:#f9e9c8}
::-moz-selection{color:#000;background:#f9e9c8}
h3{font-weight:300}::-webkit-scrollbar{width:3px}
::-webkit-scrollbar-track{background:#000}
::-webkit-scrollbar-thumb{background:#555}
::-webkit-scrollbar-thumb:hover{background:#f9e9c8}
.bottom{overflow:hidden;background-color:#121212;position:fixed;bottom:0;width:100%;left:0}
.bottom a{float:left;display:block;color:#f2f2f2;text-align:center;text-decoration:none;font-size:17px;width:25%;height:45px;padding-bottom:10px;padding-top:5px}