{% extends "layout.html" %}
{% block content %}
	
<style>
	.form-control{
		background:#212121;
		color:#fff;
		border:2px solid #121212;
	}
	.form-control:focus{
		background:#121212;
		color:#fff;
		border:2px solid #212121;
		outline:none;
	}
</style>

<div class="container-fluid">
	<div class="row">


		<div class="col-lg-3 d-none d-lg-block position-fixed">
			<header class="mb-2">
		        <img src="{{ dp }}" alt="user profile" class="profile-thumbnail">
		        <div class="profile-name">
		          <h3>{{current_user.username}}</h3>
		        </div>
		      </header>
		      
		    <div class="card about mb-2" style="color:#fff;background:#212121;border-radius:10px;">
		    <div class="card-body">
		      <!--<h5 class="card-title">About</h5>-->
		       <!--<p> 🎓 Studies at <span>Near East University</span></p>-->
		      <p> 🏅 Majors in <a href="">{{current_user.department}}</a></p>
		      {% if current_user.student_number %}
		      <p> ☂ Student Number: <a href="">{{current_user.student_number}}</a></p>
		      {% endif %}
		      <p> 🙊 Born <a href="">{{ moment(current_user.age).fromNow() }}</a></p>
		      <p> {% if current_user.gender == 'male' %} 👨 {% else %}👩 {% endif %} Gender: <a href="">{{current_user.gender.title()}}</a></p>
		      {% if current_user.country %}
		      <p> 🌍 From <a href="https://www.google.com/maps?q={{current_user.country.title()}}" target="_blank">{{current_user.country.title()}}</a></p>
		      {% endif %}
		      <p> 💪 Joined <a href="">{{ moment(current_user.date_joined).fromNow() }}</a></p>
		      <small>🕔 Last seen on: {{ moment(current_user.last_seen).format('LLL') }}</small>
		    </div>
		  </div>


		  <header>
		    <img src="{{ url_for('static', filename='resources/' + 'logo.png') }}" alt="logo" class="profile-thumbnail">
		    <div class="profile-name">
		      <h3 class="logo">BAMBI</h3>
		      <small id="year"></small>
		    </div>
		  </header>
		</div>


		<div class="col-lg-6 offset-lg-3">
			<h2>Update Account Info</h2>
			<div class="post">
				 {% with messages = get_flashed_messages(with_categories=true) %}
		    	{% if messages %}
		      		{% for category , message in messages %}
		        		<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
	      					{{message}}
	        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	          				<span aria-hidden="true">&times;</span>
	        			</button>
	      				</div>
		      		{% endfor %}
		    	{% endif %}
	  		  {% endwith %}
			  <div id="inner">
			   <div class="content-section">
          {% if current_user.is_authenticated %}
          <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <!-- Bio -->
              <div class="mt-2" style="background:#212121;padding:;font-size:20px;display:block;border-radius:5px;">
	          <a data-toggle="collapse" href="#bio" role="button" aria-expanded="false" aria-controls="bio" style="text-decoration:none;color:#818181;">😇 {{ form.bio.label(class="form-control-label") }} ⤵</a>
              <div class="collapse" id="bio">
              <div class="form-group">
                {% if form.bio.errors %}
                {{ form.bio(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.bio.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.bio(class="form-control form-control-lg") }}
                {% endif %}
              </div>
          </div>
      </div>

              <!-- Profile Images -->
              <div class="mb-2" style="background:#212121;font-size:20px;display:block;border-radius:5px;">
	          <a data-toggle="collapse" href="#dps" role="button" aria-expanded="false" aria-controls="dps" style="text-decoration:none;color:#818181;">📸 Profile Images ⤵</a>
              <div class="collapse" id="dps">
                <div class="mb-2">
                  <!-- dp -->
                  {{ form.picture(class="form-control-file") }}
                  {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                      <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                  {% endif %}

                  <!-- dp2 -->
                  {{ form.picture2(class="form-control-file") }}
                  {% if form.picture2.errors %}
                    {% for error in form.picture2.errors %}
                      <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                  {% endif %}

                  <!-- dp3 -->
                  {{ form.picture3(class="form-control-file") }}
                  {% if form.picture3.errors %}
                    {% for error in form.picture3.errors %}
                      <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                  {% endif %}

                </div>
              </div>
          </div>


              <!-- Username and Socials-->
              <div class="mb-2" style="background:#212121;padding:;font-size:20px;display:block;border-radius:5px;">
	          <a data-toggle="collapse" href="#names" role="button" aria-expanded="false" aria-controls="names" style="text-decoration:none;color:#818181;">🤓 Username and Socials ⤵</a>
              <div class="collapse" id="names">
              <div class="form-group">
              	<a style="text-decoration:none;font-size:20px;color:#818181;">{{ form.username.label(class="form-control-label") }}</a>
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                    <!-- Snapchat -->
                    <a style="text-decoration:none;font-size:20px;color:#818181;">{{ form.snapchat.label(class="form-control-label") }}</a>
                    {% if form.snapchat.errors %}
                    {{ form.snapchat(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.snapchat.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.snapchat(class="form-control form-control-lg") }}
                    {% endif %}
            </div>

                    <div class="form-group">
                    <!-- Intagram -->
                    <a style="text-decoration:none;font-size:20px;color:#818181;">{{ form.instagram.label(class="form-control-label") }}</a>
                    {% if form.instagram.errors %}
                    {{ form.instagram(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.instagram.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.instagram(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
              </div>
          </div>

              <!-- School Deets -->
              <div class="mb-2" style="background:#212121;font-size:20px;display:block;border-radius:5px;">
	          <a data-toggle="collapse" href="#deets" role="button" aria-expanded="false" aria-controls="deets" style="text-decoration:none;color:#818181;">📚 School Details ⤵</a>
              <div class="collapse" id="deets">
                  <div class="form-group">
                    <a style="text-decoration:none;font-size:20px;color:#818181;">{{ form.department.label(class="form-control-label") }}</a>
                    {% if form.department.errors %}
                    {{ form.department(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.department.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.department(class="form-control form-control-lg") }}
                    {% endif %}
                  </div>
                  <div class="form-group">
                    <a style="text-decoration:none;font-size:20px;color:#818181;">{{ form.student_number.label(class="form-control-label") }}</a>
                    {% if form.student_number.errors %}
                    {{ form.student_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.student_number.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.student_number(class="form-control form-control-lg") }}
                    {% endif %}
                  </div>
              </div>

              <!-- Country and Birthday -->
              <div class="mb-2 mt-2" style="background:#212121;padding:;font-size:20px;display:block;border-radius:5px;">
	          <a data-toggle="collapse" href="#country" role="button" aria-expanded="false" aria-controls="country" style="text-decoration:none;color:#818181;">🌍 Country & Birthday ⤵</a>
              <div class="collapse" id="country">
              <div class="form-group">
                    <a style="text-decoration:none;font-size:20px;color:#818181;">{{ form.country.label(class="form-control-label") }}</a>
                    {% if form.country.errors %}
                    {{ form.country(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.country.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.country(class="form-control form-control-lg") }}
                    {% endif %}
                  </div>
                   <div class="form-group">
                    <a style="text-decoration:none;font-size:20px;color:#818181;">{{ form.age.label(class="form-control-label") }}</a>
                    {% if form.age.errors %}
                    {{ form.age(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.age.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.age(class="form-control form-control-lg") }}
                    {% endif %}
                  </div>
              </div>

              <div class="form-group mt-2">
                <a style="text-decoration:none;font-size:20px;color:#818181;">📭 {{ form.email.label(class="form-control-label") }}</a>
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
              </div>

              <div class="form-check">
                  {{ form.private(class="form-check-input") }}
                  <a style="text-decoration:none;font-size:20px;color:#818181;">{{ form.private.label(class="form-check-label") }}</a>
                  
              </div>

              <div class="form-group mt-2">
              	{{ form.submit(class="btn btn-block btn-warning") }}
              </div>
            </fieldset>
          </form>
          {% endif %}
          <div class="mb-2" style="background:#212121;padding:;font-size:20px;display:block;">
	        <a class="text-danger" data-toggle="collapse" href="#delete_account" role="button" aria-expanded="false" aria-controls="delete_account" style="text-decoration:none;color:">🤖 Danger: Delete Account</a>
	        <div class="collapse" id="delete_account">
	           <span class="text-muted">😔 We are sad to see you go. We look forward to having you back in future. We promise to delete all your data the second you click the delete button.</span>
              <a class="btn btn-block btn-danger mt-2 mb-4" href="{{url_for('delete_account')}}">Delete Account Permanently</a>
	        </div>
	     </div>
       
        </div>
		</div>
			</div>

		</div>



		<div class="col-lg-3 d-none d-lg-block position-fixed offset-lg-9">
			 <header data-toggle="modal" data-target="#profile"><a style="text-decoration:none;" href="{{url_for('user_posts', username=current_user.username)}}">
		        <div class="profile-name">
		          <h3 style="color:#fff;">My Profile</h3>
		          <small>click to view all your posts</small>
		        </div>
		        </a>
		      </header>
		      <br>
			<div class="card" style="color:#000;">
		      <img class="card-img-top" src="{{ url_for('static', filename='resources/' + 'logod.png') }}" alt="logo">
		      <div class="card-body">
		        <h5 class="card-title"><small class="text-muted">sponsored</small></h5>
		        <p class="card-text">Tell your friends to sign up to Bambi. We wont offer you any freebies but its worth the while</p>
		      </div>
		      <div class="card-footer">
		        <small class="text-muted">Last updated 3 mins ago</small>
		      </div>
		    </div>
		</div>


	</div>
</div>


{% endblock content %}
